.bg-info {
  margin: 50px;
  border: 2px solid #0c725e;
  border-radius: 50px;
}

.highlight {
  background-color: yellow;
}

.jumbotron {
  text-align: center;
  background-color: #0c725e;
}

.jumbotron img {
  width: 200px;
}

.jumbotron h1 {
  color: white;
}

.jumbotron p {
  font-weight:bolder;
  color: yellow;
}

.nav-pills a {
  color: white;
}

.nav-pills li {
  float: right;
  font-weight: bolder;
}

h2 {
  text-align: center;
}

img {
  width: 100%;
}

ul li {
  width: 25%;
  float: left;
}
