.jumbotron {
  text-align: center;
  background-color: #108c74;
}

.jumbotron p {
  font-weight:bolder;
  color: yellow;
}

.nav-pills li {
  float: right;
  font-weight: bolder;
}

.nav-pills a {
  color: white;
}

h2 {
  text-align: center;
}

img {
  width: 200px;
}
